

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abril Fatface", serif;
    outline: none;
}

body{
    background: url("./background.png");

}

.container{
    background-color: #09b18f;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;



}


img{
    height: 25px;
    opacity: 0;
    transition:opacity 0.5s ease-in-out;
}

.task:hover img{
    opacity: 1;

}


.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
    

}


.button-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #044236;
    color: white;
    padding: 0 15px;
    font-size: 17px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover{
   opacity: 0.8;

}
.button-add-task:active{
    opacity: 0.3;

}

.list-tasks{
    width: 100%;
    list-style: none;
    margin-top: 20px;

}
.task{
    background-color: #F2F2F2;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
   
}


.done{

    background-color: #8fac55;
    text-decoration: line-through;
}
